<!-- -*- mode: nxml; -*- -->
<service version="1.0">
  <short>couchbase</short>
  <port protocol="tcp" port="8091"/>
  <port protocol="tcp" port="8092"/>
  <port protocol="tcp" port="11209"/>
  <port protocol="tcp" port="11210"/>
  <port protocol="tcp" port="11211"/>
  <port protocol="tcp" port="4369"/>
  <port protocol="tcp" port="21100-21199"/>
</service>
